name: Test action
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Test action
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate PKGBUILD
        run: |
          mkdir -p startdir
          cat << 'EOF' | tee startdir/PKGBUILD
          pkgname=build-test
          pkgver=0.1.0
          pkgrel=1
          pkgdesc="Dummy package for testing purpose."
          arch=(any)
          url="${{ github.server_url }}/${{ github.repository }}"
          license=(LicenseRef-WTFPL)
          source=(https://github.com/cli/cli/releases/download/v2.65.0/gh_2.65.0_linux_amd64.tar.gz
                  gh-linux.deb::https://github.com/cli/cli/releases/download/v2.65.0/gh_2.65.0_linux_amd64.deb)
          sha256sums=('762569efe785082b7d1feb06995efece1a9cecce16da8503ac6fdbcbea04085b'
                      'df1c9f5bfe6d0443c19f36d2c83390b650f7262e687b31db8353a604cc4ad4b4')
          validpgpkeys=(
              # This may be no user id on keys.openpgp.org
              4ABA2F66DBD5A95894910E0673D770CDA59047B9 #  HPLIP (HP Linux Imaging and Printing) <hplip@hp.com>
              # This may be not found on keyserver.ubuntu.com
              3F59043BE267E1B1177688AC8F6DE3D614FCFD7A # nobody <nfo@localcdn.org>
          )

          pkgver() {
              echo 0.2.0
          }

          package() {
              env | install -Dm644 /dev/stdin "$pkgdir/var/env"
          }        
          EOF
          cp startdir/PKGBUILD startdir PKGBUILD.bak
      - name: Run action (Build)
        uses: ./
        env:
          CUSTOM_ENV: custom value
        with:
          startdir: tests/build-test
          preserve-env: CUSTOM_ENV
          stdout: stdout.txt
      - name: Check pkgver
        run: '! diff -u /startdir/PKGBUILD.bak startdir/PKGBUILD'
      - name: Check env
        run: |
          while read -r package
          do
            mkdir -p rootfs
            tar -x -f "$package" -C rootfs
            grep "CUSTOM_ENV=custom value" rootfs/var/env
            rm -rf rootfs
          done < <(find pkgdest -maxdepth 1 -mindepth 1 -type f -regex '.+\.pkg\.tar\.[0-9a-zA-Z]+$')
      - name: Check stdout
        run: |
          ls -l
          test -f stdout.txt
      - name: Check pkgdest
        run: |
          test -d pkgdest
          ls -l pkgdest
      - name: Check logdest
        run: |
          test -d logdest
          ls -l logdest
      - name: Check srcdest
        run: |
          ls -l srcdest
          test -d srcdest
          test -f srcdest/gh-linux.deb
          test -f srcdest/gh_2.65.0_linux_amd64.tar.gz
