name: Test action
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Test action
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run action (Build)
        id: test-build
        uses: ./
        with:
          builddir: tests/build-test
          env: CUSTOM_ENV=custom value
      - name: Check env
        run: |
          while read -r package
          do
            mkdir -p rootfs
            tar -x -f "$package" -C rootfs
            grep "CUSTOM_ENV=custom value" rootfs/var/env
            rm -rf rootfs
          done < <(find pkgdest -maxdepth 1 -mindepth 1 -type f -regex '.+\.pkg\.tar\.[0-9a-zA-Z]+$')
      - name: Run action (.SRCINFO)
        id: test-srcinfo
        uses: ./
        with:
          builddir: tests/build-test
          stdout: tests/build-test/SRCINFO
          args: --printsrcinfo
      - name: Check SRCINFO
        run: |
          declare srcinfo=tests/build-test/SRCINFO
          cat "$srcinfo"
          test "$(<"$srcinfo")" = "$(<tests//build-test/.SRCINFO)"
      - name: Run action(pkgver)
        id: test-pkgver
        uses: ./
        with:
          builddir: tests/build-test
          args: --nobuild
          updatepkgbuild: true
      - name: Check pkgver
        run: |
          git diff tests/build-test/PKGBUILD
